.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(135deg, #667eea, #764ba2); */
  padding: 20px;
  max-width: 100%;
}

.card {
  background: #fff;
  width: 100%;
  /* max-width: 420px; */
  padding: 28px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

h1 {
  margin: 0;
  font-size: 24px;
}

.subtitle {
  margin-bottom: 20px;
  color: #666;
  font-size: 14px;
}

label {
  font-size: 13px;
  font-weight: 600;
  margin-top: 14px;
  display: block;
}

input,
textarea {
  width: 100%;
  margin-top: 6px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}

textarea {
  min-height: 120px;
  resize: vertical;
}

input:focus,
textarea:focus {
  border-color: #667eea;
}

.send-button {
  /* width: 100%; */
  margin-top: 22px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #4365ff;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  float: inline-end;
}

.send-button:hover {
  background: #5a67d8;
}

.send-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}


.top-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.back-button {
  background: transparent;
  border: none;
  color: #4f46e5;
  font-size: 14px;
  cursor: pointer;
}

.back-button:hover {
  text-decoration: underline;
}

.email-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 8px;
}

.email-wrapper input {
  border: none;
  outline: none;
  flex: 1;
  min-width: 200px;
}

.chip {
  background: #e5f0ff;
  color: #0047ab;
  padding: 4px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.chip button {
  margin-left: 6px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
}


/* Error Text */
.error {
  color: #ff3b3b;
  font-size: 13px;
  margin-top: 4px;
}

/* Red Border */
.error-border {
  border: 1px solid #ff3b3b !important;
}
